*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.nav1{
    height: 70px;
    width: 100%;
    display: flex;
    background-color: lightgreen;
    box-shadow: 0 0 5px 0 gray;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}
.nav1 >.Hotel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: fixed;
    
}
.nav1 > .Hotel>  h1{
    color: orange;
    font-style: italic;
    font-family: sans-serif;
    padding-left: 20px;


    
}
.nav1 > .Hotel > a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bolder;
   padding: 20px;
    
}
.nav1 > .Hotel > a:hover {
    color: blueviolet;

}
.nav1 > .Hotel > i{
    padding: 20px ;
} 
.Home{
    padding: 25px;
    margin: 40px;
   

}
.Home >h1{
    margin: 5px;
}

.Home > a {
    color:blue;
    border:1px solid black;
    background-color: yellow;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 235px;

}
.Home > p {
text-align: justify;
font-size: 25px;



}
.Home > a:hover{
    background-color: darkred;
    color: white;

}
.Home > img{
    left: 1250px;
    position: absolute;
    top: 150px; 
    z-index: -1;
}
#Our{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: lightgreen;
    margin-top: 230px;
}
#Our > span{
    font-size:25px ;
    font-family: Arial, sans-serif;
}


.Menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 45px;
    margin-top: 130px;
    /* word-spacing: 2px; */
    flex-direction: row;
    column-gap: 27px;
    padding: 5px;
    width: 100%;

}
.Menu > div:hover{
  box-shadow: 0 0 8px gray;
} 


.Menu > #div-1{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 25px;

    
}
.Menu > #div-1 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
.Menu > #div-1 > figure >img:hover{
    transform: scale(1.1);

}

.Menu > #div-1 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-1 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-1 > figure > span:hover{
    background-color: red;
}

.Menu > #div-2{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 40px;
}
.Menu > #div-2 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}

.Menu > #div-2 > figure >img:hover{
    transform: scale(1.1);

}
.Menu > #div-2 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-2 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-2 > figure > span:hover{
    background-color: red;
}

.Menu > #div-3{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 40px;

    
}
.Menu > #div-3 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
.Menu > #div-3 > figure >img:hover{
    transform: scale(1.1);

}
.Menu > #div-3 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-3 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-3 > figure > span:hover{
    background-color: red;
}

.Menu > #div-4{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 40px;

    
}
.Menu > #div-4 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
.Menu > #div-4 > figure >img:hover{
    transform: scale(1.1);

}
.Menu > #div-4 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-4 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-4 > figure > span:hover{
    background-color: red;
}

.Menu > #div-5{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 40px;

    
}
.Menu > #div-5 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
.Menu > #div-5 > figure >img:hover{
    transform: scale(1.1);

}
.Menu > #div-5 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-5 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-5 > figure > span:hover{
    background-color: red;
}

.Menu > #div-6{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 40px;

    
}
.Menu > #div-6 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
.Menu > #div-6 > figure >img:hover{
    transform: scale(1.1);

}
.Menu > #div-6 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-6 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-6 > figure > span:hover{
    background-color: red;
}
.Menu > #div-7{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 40px;

    
}
.Menu > #div-7 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
.Menu > #div-7 > figure >img:hover{
    transform: scale(1.1);

}
.Menu > #div-7 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-7 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-7 > figure > span:hover{
    background-color: red;
}

.Menu > #div-8{
    height: 750px;
    width: 470px;
    border: 1px solid gray;
    /* box-shadow: 0 0 10px gray; */
    margin-top: 5px;
    padding: 40px;

    
}
.Menu > #div-8 > figure >figcaption{
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
}
.Menu > #div-8 > figure >img:hover{
    transform: scale(1.1);

}
.Menu > #div-8 > figure > P{
    font-size: 22px;
    text-align: justify;
    justify-content: center;
    display: flex;
    margin: 20px ;

}
.Menu > #div-8 > figure > span{
    border: 1px solid black;
    background-color: blueviolet;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    width: 120px;
}
.Menu > #div-8 > figure > span:hover{
    background-color: red;
}

#Gallary{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: lightgreen;
    margin-top: 130px;
}
#Gallary > span{
    font-size:25px ;
    font-family: Arial, sans-serif;

}
.Gallary2{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    flex-direction: row;
    width: 100%;


}
.AB{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: lightgreen;
    margin-top: 100px;
}
.AB >span{
     font-size:25px ;
    font-family: Arial, sans-serif;

}
.About{
    height: 100vh;
    width: 100%;

}
.About>h1{
    margin-top: 15px;
    padding: 100px;
}
.About>p{
     margin-top: -150px;
    padding: 100px;
    text-align: justify;
}

.About > a {
    color:blue;
    border:1px solid black;
    background-color: yellow;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 235px;
    position: relative;
    left: 40px;

}

.About > a:hover{
    background-color: darkred;
    color: white;

}

.About > img{
    left: 1250px;
    position: absolute;
    top: 3600px; 
    z-index: -1;
}

.Order{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: lightgreen;
    margin-top: -350px;
}
.Order >span{
     font-size:25px ;
    font-family: Arial, sans-serif;

}
.Order-1{
    height: 100vh;
    width: 100%;
    margin: 40px;
    
}
.Order-1 >img{
     position: absolute;
    top: 4300px; 
    z-index: -1;

}
.Order-1>.div-1{
    left: 1250px;
    position: absolute;
    top: 4400px; 
    display: flex;
    flex-direction: column;
    gap: 17px;
   font-size: 20px;
   font-family: Arial,  sans-serif;
   z-index: -1;
}
.Order-1>.div-1 >input{
    border-radius: 40px;
    height: 15px;
    padding: 18px;
    text-align: center;

    
    
}
.Order-1 >.div-1 >label{
    
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
} 
.footer{
    width: 100%;
    height: 450px;
    background-color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    justify-content: space-evenly;
    margin-top:-300px ;

  

}
.footer > p{
    font-size: 25px;
    font-family: sans-serif;
    align-items: center;
    gap: 10px;
 
}
